#red{
    background-color: rgb(177, 74, 74); 
}

#blue{
    background-color: rgb(46, 138, 138);
}
#green{
    background-color:rgb(44, 206, 122);
}
#yellow{
    background-color:rgb(216, 223, 71);
}